.message-fromthem,
.message-fromyou {
    align-items: top;
    background-color: rgb(160, 216, 153);
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin: 5px 15px;
    padding: 3px 5px;
}

.message-fromyou {
    background-color: rgb(195, 158, 209);
    margin-left: 650px;
}

.message-author {
    margin-top: 5px;
}

@media (max-width: 920px) {
    .message-fromyou {
        margin-left: 73vw;
    }
}

@media (max-width: 780px) {
    .message-fromyou {
        margin-left: 69vw;
    }
}

@media (max-width: 700px) {
    .message-fromyou {
        margin-left: 65vw;
    }
}

@media (max-width: 650px) {
    .message-fromyou {
        margin-left: 62vw;
    }
}

@media (max-width: 550px) {
    .message-fromyou {
        margin-left: 56vw;
    }
}

@media (max-width: 500px) {
    .message-fromyou {
        margin-left: 52vw;
    }
}

@media (max-width: 465px) {
    .message-fromyou {
        margin-left: 48vw;
    }
}

@media (max-width: 430px) {
    .message-fromyou {
        margin-left: 44vw;
    }
}

@media (max-width: 400px) {
    .message-fromyou {
        margin-left: 38vw;
    }
}

@media (max-width: 360px) {
    .message-fromyou {
        margin-left: 34vw;
    }
}
